.store_wrapper {
  padding: 15rpx 30rpx;
  .store_item {
    position: relative;
    margin: 15rpx 0 30rpx;
    .good {
      height: 354rpx;
      width: 100%;
      display: block;
    }
    .address {
      position: absolute;
      bottom: 30rpx;
      height: 60rpx;
      width: 70%;
      left: 15%;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 10rpx;
      image {
        width: 24rpx;
        margin-left: 10rpx;
      }
      text {
        margin-left: 10rpx;
        font-size: 26rpx;
        color: #fff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
